---
title: cities
layout: home
---

<div class="container-fluid" style="text-align:left;padding:0;">
  <div style="max-height:550px; overflow: hidden;">
    <video autoplay>
      <source src="{{ "assets/StandOut-Trailer-v2.mp4" | prepend: site.baseurl }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div style="col-xs-8 col-sm-6">
    <img class="hero" src="{{ "/img/Stand-out-icon-transwhite.png" | prepend: site.baseurl }}" style="max-width:700px">
  </div>
  </div>
  <div class="row">
    <div class="container content">
      <div class="row">
        <div class="col-xs-12 col-s-6">
          <h1 class="gradient">What is STAND OUT?</h1>
          <p style="font-size: 1.4em; font-weight:300;padding-top:20px;">The STAND OUT Photographic Forums brings the photographic community together to inform, inspire and excite. Hear from innovative industry creatives and icons. Explore new ideas to differentiate yourself and your business.</h4>
          <p style="font-size: 1.4em; font-weight:300;padding-top:20px;">The STAND OUT event will also bring leading photographic brands under one roof to demonstrate their products to you in an intimate and meaningful manner. Put a face to the brand, meet some of the most knowledgeable resources in the industry.</h4>
          <p style="font-size: 1.4em; font-weight:300;padding-top:20px;">This event is ideal for professional photographers, photo assistants, advanced students or any imaging professional that would like to learn about the latest cutting-edge products and techniques being used in the professional digital image capture market in a hands-on and seminar based forum.</h4>
          <div style="text-align:center;padding-top:40px;">
            <h2 style="letter-spacing:4px;font-weight:300;text-transform:uppercase;">Get inspired, informed and motivated!</h2>
            <a href="#cities" class="btn btn-default">Learn More</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="embed-container" style="margin-top:90px;">
        <iframe src="https://player.vimeo.com/video/144815525?title=0&byline=0&portrait=0" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <div class="row" style="margin-top: 90px;border: 0px solid #cecece;padding:0px;">
        <div class="col-xs-12 col-s-6">
          <h5 style="font-weight:500;">SIGN UP NOW</h5>
          <h1 style="font-weight:500;">Early Bird Special</h1>
        </div>
        <div class="col-xs-12 col-s-6">
          <h4 style="font-weight:500;">Early Bird Admission Fee until Sept. 30th for $49! After Sept. 30, Admission Fee will be $69.</h4>
          <p style="font-weight:500;">      *Admission fee may be used as a credit towards a purchase on selected items the day of the event.  Must have event ticket and show ID to be eligible. Check out the specials page for more information.</p>
          <a href="#" class="btn btn-default">Register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid content" id="cities">
      <div class="row">
        {% include cities.html %}
        {% include newsletter-signup.html %}
      </div>
  </div>
</div>
