<footer id="footer">
  <div class="container-fluid inside">
    <div class="row row-height">
        <div class="col-xs-12 speaker-social col-height">
          <a href="https://facebook.com/standoutphotoforum"><i class="fa fa-facebook-f fa-md"></i></a>
          <a href="https://instagram.com/standoutphotoforum"><i class="fa fa-instagram fa-md"></i></a>
          <a href="https://twitter.com/standoutphotof"><i class="fa fa-twitter fa-md"></i></a>
          <a href="https://vimeo.com/standoutphotoforum"><i class="fa fa-vimeo fa-md"></i></a>
        </div>
    </div>
  </div>
</footer>
