  <div class="row" style="background-color:#ECECEC;padding-top:30px;padding-bottom:30px;text-align:right;">
    <div class="container">
      <div class="col-xs-12 col-sm-2 col-sm-offset-9">
        <a href="https://www.twitter.com/standoutphotof/"><img src="https://static.wixstatic.com/media/7177d158c36d432b93f51e54f80e2f3c.png/v1/fill/w_42,h_42,al_c,usm_0.66_1.00_0.01/7177d158c36d432b93f51e54f80e2f3c.png"></a>        <a href="https://www.instagram.com/standoutphotoforum/"><img src="https://static.wixstatic.com/media/530d907aaf7648c89c79be7eea724d9c.png/v1/fill/w_42,h_42,al_c,usm_0.66_1.00_0.01/530d907aaf7648c89c79be7eea724d9c.png"></a><a href="https://www.facebook.com/StandOutPhotoForum/?fref=ts">FB</a>
      </div>
    </div>
  </div>
