<!-- jQuery Version 1.12.2 -->

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/misc.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/aos/dist/aos.js" | prepend: site.baseurl }}"></script>
<script src="https://use.typekit.net/djc3asi.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<script>
			AOS.init({
        easing: 'ease-out-expo',
			});
</script>

{% if page.title == 'Get Inspired' %}
  {% include cards.html %}
{% endif %}
