<div class="col-xs-12 newsletter-signup">
  <legend><h2 class="reveal">We might be coming to a city near you - let us keep you up to date.</h2></legend>
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="newsletter-name">Name</label>
    <input type="text" class="form-control" id="newsletter-name" placeholder="Email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="newsletter-email">Email</label>
    <input type="email" class="form-control" id="newsletter-email" placeholder="Name">
  </div>
  <button type="submit" class="btn btn-newsletter-signup">Submit</button>
</form>
</div>
