  <div class="col-xs-2 col-sm-1 col-lg-1 col-md-1" style="padding: 15px; margin-top:40px;">
    <ul id="menu" style="padding:0px;">
    <li><h5><a href="#speakers" class="animsition-link">Speakers</a></h5></li>
    <li><h5><a href="#seminars" class="animsition-link">Seminars</a></h5></li>
    <li><h5><a href="#schedule" class="animsition-link">Schedule</a></h5></li>
    <li><h5><a href="#sponsors" class="animsition-link">Sponsors</a></h5></li>
    <li><h5><a href="#register" class="animsition-link">Register</a></h5></li>
    </ul>
  </div>
