.hero {
  position: absolute;;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.content {
  z-index: 500;
  position: relative;
  margin-top:120px;
}


.page-content {
  margin: 30px;
}

footer {
  z-index: 2000;
  background-color: #cecece;
  position: absolute;
  width: 100%;
  color: white;
  padding: 0px;
  float: right;
  text-align:right;

  i {
    color:white;
    padding:10px 10px;
  }

  a {
    color:white;
  }
}


.photo-array {
  position:relative;
  z-index:600
}

.photo-array h1 {
  font-size:500%;
  font-weight: 300;
  color:white;
}

.photo-array-1 {

  @media (min-width: $screen-sm-min) {
  margin-top:0px;
  }

}
.photo-array-2 {
  margin-top:-60px;

  @media (min-width: $screen-sm-min) {
  margin-top:-160px;
  }
}

.photo-array-3 {
  margin-top:-170px;
  margin-bottom:0px;

  @media (min-width: $screen-sm-min) {
  margin-top:-300px;
  }
}


.photo-array-4 {

  @media (min-width: $screen-sm-min) {

  }

}
.photo-array-5 {
  margin-top:-100px;

  @media (min-width: $screen-sm-min) {
  margin-top:-160px;
  }
}

.photo-array-6 {
  margin-top:-200px;
  text-align:right;

  @media (min-width: $screen-sm-min) {
  margin-top:-300px;
  }
}


  .heading-big {
      font-size: 4em;
      letter-spacing: 16px;
      font-weight: 300;
  }



.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}




  .speaker {
      list-style: none;
      margin-bottom:0px;
      position:relative;
      padding:0px;
  }

  .speaker img {
    display:block;
    width:100%;
  }

  .speaker-name {
        position: absolute;
        left: 20px;
        bottom: 0px;
    }

  .speaker-name a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
  }

  .speaker-social {
    letter-spacing: 2px;
    padding-left:5px;
    padding-top:5px;

i {
  padding-right:10px;
}
  }

.speaker-details {
    position: absolute;
        top: 30px;
        right: -100px;
        left: 60px;
      }

    .seminar {
        list-style: none;
        margin-bottom:30px;
        padding-right:20px;
    }

    .seminar a {
      color: #727272;
      text-decoration: none;
      font-weight: 300;
    }

        .seminar a:hover {
          color: #888;
          text-decoration: none;
          font-weight: 300;
        }

    .seminar img {
      display:block;
      width:100%;
    }

    .seminar-details {
          position:relative;
      }



.featured {
  margin-bottom:50px;
}


.line-small {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid #727272;
}

.line-full {
    margin-top: 10px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #ececec;
}

.line-white {
  margin-top: 10px;
  margin-bottom: 16px;
  border: 0;
  width: 100px;
  border-top: 1px solid #fff;
}


.address {
  padding-top:30px;
}



.schedule {

  .schedule li {
    list-style: none;
  }
}


.sponsor {
  padding-bottom:0px;

  .sponsor li {
    list-style: none;
  }
}

.sidebar {
    background-color: #cecece;
    min-width: 90px;
    padding: 0px;
    display:inline-block;
    margin-top:5px;
  }

.sidebar a {
  color: white;
font-size: 1.3em;
font-weight: 300;
letter-spacing: 2px;
}




.event-details a {
  color: #9af6ff;
  text-decoration: none;
}

.event-details h2 {
      text-transform: none;
      font-weight: 300;
    }

.event-details {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}



  /* Gray Scale */

  .image-box figure a {
    color: white;
text-transform: uppercase;
letter-spacing: 4px;
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
  }

  .image-box figure:hover a {
    color: #727272;
    padding-bottom: 10px;
  }


  .image-box figure img {
    -webkit-filter: blur(0) opacity(1);
    filter: blur(0) opacity(1);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
    width: 100%;
  }
  .image-box figure:hover img {
    -webkit-filter: blur(0.3px) opacity(0.3);
  	filter: blur(0.3px) opacity(0.3);
  }


.image-box {
    position: relative;
height: auto;
text-align: center;
margin: 0px;
padding: 0px;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


  /* content styles */

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie https://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
}


/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}


.intro {
  padding-top:40px;
}



a.active {
  color: #9a766f;
}


h3 {
    background-image: linear-gradient(to bottom, #fefefe(10%), #727272);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    a {
      color: transparent;
    }
  }


.gradient {
      background-image: linear-gradient(to bottom, #fefefe(10%), #727272);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;

      a {
        color: transparent;
      }
    }


.newsletter-signup {
  padding-top: 40px;
  padding-bottom: 0px;
  text-align: center;
  background-color: #cecece;
  /* border: none; */

  h2 {
    color: white;
font-weight: 300;
  }
}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe,
.embed-container object, 
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
