.cover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.tv {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;

.screen {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -900;
    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }
  }
}

.hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:400;

    color: #fff;
  }

.page-body {
  padding-bottom:100px;
}

.page-content {
  z-index: 500;
  position: relative;
  margin:20px;
}


.sidebar {
    background-color:transparent;
    max-height:80px;
    margin:0;
    text-align:center;
    position: relative;
    z-index: 700;

    @media (min-width: $screen-sm-min) {
          background-color:transparent;
          margin:0;
          text-align:left;
        }
  }

  .sidebar ul {
    margin: 10px;
    transform: rotate(90deg);
    transform-origin: left;
    position: fixed;
    width: 100%;
    min-width:100vh;
    max-height: 20px;
    overflow:hidden;
    text-align:left;


    @media (min-width: $screen-sm-min) {
      position:fixed;
    }

  }

.sidebar li {
  display: inline-block;
  padding-right: 0px;
  margin:0;
  font-size: 4em;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    margin:0;
  }

  h6 {
    margin:0px;
    padding-top:0px;
    padding-bottom:0px;
  }

  a {
    letter-spacing: 2px;
    padding-right: 18px;
    text-decoration: none;
    line-height: 0.4;
    color: black;
    margin:0;
  }
}



.big-header {
  text-align: center;
  vertical-align:middle;
  position:relative;
  z-index: 2;
  width: 100%;
}

.intro {

  h1 {
    font-size: 3.8em;
  }

  h5 {
    letter-spacing:5px;
    margin-top: 10px;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    }

  h4 {
    margin-top: 10px;
  }

    a {
            font-weight: 500;
    }

    p {
      margin-bottom: 6px;
    }

    .btn {
      margin-top:10px;
    }
}

.big-header-text {
      text-align: center;
      padding: 0px 60px;
      margin-top: 15vh;
      margin-bottom: 100px;
}


footer {
  z-index: 2000;
  background-color: black;
  position: absolute;
  min-height:200px;
  width:100%;
  color:white;
  padding: 30px 0px;
}


.photo-array {
  position:relative;
  z-index:600
}

.photo-array h1 {
  font-size:500%;
  font-weight: 600;
  color:white;
}

.photo-array-1 {

  @media (min-width: $screen-sm-min) {
  margin-top:0px;
  }

}
.photo-array-2 {
  margin-top:-60px;

  @media (min-width: $screen-sm-min) {
  margin-top:-160px;
  }
}

.photo-array-3 {
  margin-top:-170px;
  margin-bottom:0px;

  @media (min-width: $screen-sm-min) {
  margin-top:-300px;
  }
}


.photo-array-4 {

  @media (min-width: $screen-sm-min) {

  }

}
.photo-array-5 {
  margin-top:-100px;

  @media (min-width: $screen-sm-min) {
  margin-top:-160px;
  }
}

.photo-array-6 {
  margin-top:-200px;
  text-align:right;

  @media (min-width: $screen-sm-min) {
  margin-top:-300px;
  }
}


  .heading-big {
      font-size: 4em;
      letter-spacing: 16px;
      font-weight: 700;
  }



.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.event {
    list-style: none;
    margin-bottom:30px;
}

.event-details {
      position: absolute;
      top: 70px;
      /* margin-left: 20px; */
      background-color: white;
      padding: 10px;
      max-width: 270px;
  }


  .speaker {
      list-style: none;
      margin-bottom:0px;
      position:relative;
      padding:0px;
  }

  .speaker img {
    display:block;
    width:100%;
  }

  .speaker-name {
        position: absolute;
        left: 20px;
        bottom: 0px;
    }

  .speaker-name a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
  }

  .speaker-social {
    text-align:right;
    position:absolute;
    bottom:0;
    right:0;
    font-family:"base-mono-wide", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

.speaker-details {
    position: absolute;
        top: 30px;
        right: -100px;
        left: 60px;
      }

    .seminar {
        list-style: none;
        margin-bottom:30px;
    }

    .seminar a {
      color: red;
      text-decoration: none;
      font-weight: 500;
    }

        .seminar a:hover {
          color: #888;
          text-decoration: none;
          font-weight: 500;
        }

    .seminar img {
      display:block;
      width:100%;
    }

    .seminar-details {
          position:relative;
      }



.featured {
  margin-bottom:50px;
}


.line-small {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 16px;
  border: 0;
  border-top: 2px dotted #9af6ff;
}

.line-full {
  margin-top: 10px;
  margin-bottom: 16px;
  border: 0;
  border-top: 2px dotted #9af6ff;
}

.line-full-red {
  margin-top: 10px;
  margin-bottom: 16px;
  border: 0;
  border-top: 2px dotted red;
}


.address {
  padding-top:30px;
}



.schedule {

  .schedule li {
    list-style: none;
  }
}


.sponsor {
  padding-bottom:0px;

  .sponsor li {
    list-style: none;
  }

}
