.cover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.tv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -900;
    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }
  }
}

.page-body {
  padding-top:98px;
  padding-bottom:100px;
}

.page-content {
  position: relative;
  z-index: 500;
  padding-left: 58px;
}


.sidebar {
    background-color:transparent;
    max-height:80px;
    margin:0;
    text-align:center;
    position: relative;
    z-index: 700;

    @media (min-width: $screen-sm-min) {
          background-color:transparent;
          padding-top: 30px;
          margin:0;
          text-align:left;
        }
  }

  .sidebar ul {
    margin:0;
    transform: rotate(90deg);
    transform-origin: 36px -2px;
    position:fixed;


    @media (min-width: $screen-sm-min) {
      position:fixed;
    }

  }

.sidebar li {
  display: inline-block;
  padding-right: 20px;
  margin:0;
  transform: rotate(180deg);
  transform-origin: 40px 10px;
  font-size: 4em;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    margin:0;
  }

}

.sidebar li a {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0px;
    padding-right: 40px;
    text-decoration: none;
    line-height: 0.4;
    color: black;
}

.top-panel {
    background-color: rgba(0, 0, 226, 0.6);
    width: 100%;
    position: fixed;
    z-index: 10;
    height:120vh;

    @media (min-width: $screen-sm-min) {
      position:absolute;
      height:560px;
    }

}


.big-header {
  text-align: center;
  background-color: rgba(0, 60, 206, 0.6);
  height: 110vh;
  vertical-align:middle;
  position:relative;
  margin-top:-130px;
}

.big-header-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
}


footer {
  z-index: 2000;
  background-color: black;
  position: absolute;
  min-height:200px;
  width:100%;
  color:white;
  padding: 30px 0px;
}


.photo-array {
  position:relative;
  z-index:600
}

.photo-array h1 {
  font-size:500%;
  font-weight: 600;
  color:white;
}

.photo-array-1 {

  @media (min-width: $screen-sm-min) {
  margin-top:0px;
  }

}
.photo-array-2 {
  margin-top:-60px;

  @media (min-width: $screen-sm-min) {
  margin-top:-160px;
  }
}

.photo-array-3 {
  margin-top:-170px;
  margin-bottom:0px;

  @media (min-width: $screen-sm-min) {
  margin-top:-300px;
  }
}


.photo-array-4 {

  @media (min-width: $screen-sm-min) {

  }

}
.photo-array-5 {
  margin-top:-100px;

  @media (min-width: $screen-sm-min) {
  margin-top:-160px;
  }
}

.photo-array-6 {
  margin-top:-200px;
  text-align:right;

  @media (min-width: $screen-sm-min) {
  margin-top:-300px;
  }
}
