---
layout: default
---

<div>
  <div class="featured-image" style="background-image: url('{{ page.featured-image | prepend: site.baseurl }}');">
    <div class="row">
          <h1>{{ page.title }}</h1>
          <h3>{{ page.date }}</h3>
          <h4><a href="{{ page.location-link }}">{{ page.location-name }}</a></h3>
          <h6>{{ page.location-address }}</h6>
          <a class="button" href="{{ page.reg-link }}">Registration Link</a>
</div>
</div>
<div class="row">
        <div class="post-content">
          {{ content }}
        </div>
</div>

<div class="speakers trigger row">
    <h2>Speakers</h2>
    <ul>
      {% for speaker in site.speakers %}
      {% if speaker.city == page.title %}
        <li class="speaker">
        {% if speaker.image %}
        <a href="{{ speaker.url | prepend: site.baseurl }}"><img src="{{ speaker.image }}"></a>
        {% endif %}
          {% if speaker.title %}
          <a href="{{ speaker.url | prepend: site.baseurl }}">{{ speaker.title }}</a>
          {% endif %}
          {% if speaker.date %}
          <h6>{{ speaker.date }}</h6>
          {% endif %}
          {% if speaker.bio %}
          <p>{{ speaker.bio }}</p>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>


        <div class="seminars trigger row">
        <h2>Seminars</h2>
              <ul>
                {% for seminar in site.seminars %}
                  {% if seminar.city == page.title %}
                        <li class="seminar">
                    {% if seminar.image %}
                      <a href="{{ seminar.url | prepend: site.baseurl }}"><img src="{{ seminar.image }}"></a>
                    {% endif %}
                    {% if seminar.title %}
                      <a href="{{ seminar.url | prepend: site.baseurl }}">{{ seminar.title }}</a>
                    {% endif %}
                    {% if seminar.speaker %}
                      <h6>{{ seminar.speaker }}</h6>
                    {% endif %}
                    {% if seminar.desc %}
                      <p>{{ seminar.desc }}</p>
                    {% endif %}
                    {% if seminar.date %}
                      <p>{{ seminar.date }}</p>
                    {% endif %}
                    {% if seminar.time %}
                      <p>{{ seminar.time }}</p>
                    {% endif %}
                  </li>
                  {% endif %}
                {% endfor %}
            </ul>
        </div>


        <div class="sponsors row trigger">
        <h2>Sponsors</h2>
              <ul>
                {% for sponsor in site.sponsors %}
                  {% if sponsor.city == page.title %}
                    <li class="sponsor">
                      {% if sponsor.image %}
                        <a href="{{ sponsor.url  | prepend: site.baseurl }}">
                          <img src="{{ sponsor.image  | prepend: site.baseurl }}" />
                        </a>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
        </div>
</div>
