

<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="ansimition">
  <div class="container-fluid">
    <div class="row">
      <div class="row-height">
      <div class="hidden-xs col-sm-2 col-sm-height sidebar">
        <div class="inside inside-full-height">
        {% include sidebar.html %}
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          {% include header.html %}
        </div>
        <div class="row">
          <div class="container-fluid big-header" style="position:absolute"></div>
          <div class="container-fluid page-content" id="main" style="position:relative;">
            <div class="row">
              <div class="col-xs-11 col-xs-offset-1" style="margin-bottom:200px;">
                <div class="row">
                  <div class="col-xs-11 intro" >
                      <h5>STAND OUT</h5>
                      <h1 style="margin-top:0px;padding-top:0px;line-height:1;">{{ page.title }}</h1>
                      <hr class="line-full-red">
                      <div class="row">
                        <div class="col-xs-12 col-sm-5">
                          <h2>{{ page.event-date }}</h2>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                          <h4 class="padding-top:52px;"><a href="{{ page.location-link }}" class="animsition-link">{{ page.location-name }}</a></h4>
                          <p>{{ page.location-address }}</p>
                          <p>{{ page.location-city-st }}</p>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                        <a class="btn btn-default ansimition-link" style="width:100%;" href="{{ page.reg-link }}">Register!</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row" id="sponsors">
                {% for sponsor in site.sponsors %}
                {% if sponsor.city contains page.title %}
                  <div class="col-xs-6 col-sm-3 sponsor">
                    {% if sponsor.headshot %}
                    <a href="/sponsors" id="sponsor-image" class="image-box">
                    <figure><img src="{{ sponsor.headshot }}"></figure>
                    {% endif %}
                    <div class="sponsor-name">
                      {% if sponsor.title %}
                      <h4><a href="/sponsors" class="animsition-link">{{ sponsor.title }}</a></h4>
                      {% endif %}
                    </div>
                    </a>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1" style="padding-top:100px;" id="seminars">
                <div class="row">
                  <ul style="margin:0; padding-left:0;">
                    {% for seminar in site.seminars %}
                    {% if seminar.cities contains page.title %}
                    {% if seminar.type contains "seminar" %}
                    <li class="col-xs-12 col-sm-4 seminar" style="margin:0; padding-left:0;">
                      <div class="seminar-details" style="height:700px; overflow:hidden; padding-bottom:20px;">
                        {% if seminar.image %}
                        <div class="image-box">
                        <figure><img src="{{ seminar.image | prepend: site.baseurl }}" /></figure>
                      </div>
                        {% endif %}
                        {% if seminar.title %}
                        <h4>{{ seminar.title }}</a></h4>
                        {% endif %}
                        {% if seminar.speaker %}
                        <h6>with {{ seminar.speaker }}</h6>
                        {% endif %}
                        {% if seminar.desc %}
                        <p class="small">{{ seminar.desc }}</p>
                        {% endif %}
                      </div>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
            </div>
          </div>
            <div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-1 schedule" style="margin-top:30px;" id="schedule">
              <div class="row">
                <div class="col-xs-2"><h6>TIME</h6></div>
                <div class="col-xs-6"><h6>SEMINAR</h6></div>
                <div class="col-xs-3"><h6>SPEAKER</h6></div>
              </div>
              <hr class="line-full" />
                <div class="schedule">
                  {% for seminar in site.seminars reversed %}
                  {% if seminar.cities contains page.title %}
                  <div class="row">
                    <div class="col-xs-2">{{ seminar.time }}</div>
                    <div class="col-xs-6">{{ seminar.title }}</div>
                    <div class="col-xs-3">{{ seminar.speaker }}</div>
                  </div>
                  <hr class="line-full" />
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="col-xs-10 col-xs-offset-1 speaker" style="padding-top:30px;" id="speakers">
                <div class="row">
                  <div class="col-xs-6">
                    <h6 style="font-size:1em;margin:0;">BROUGHT TO YOU IN PART BY:</h6>
                  </div>
                  <div class="col-xs-6" style="text-align:right;">
                    <a href="#" class="animsition-link" class="animsition-link">Partner with Us!</a>
                  </div>
                </div>
                <hr class="line-full-red">
                <div class="row sponsor" style="padding-bottom:60px;">
                  <ul>
                    {% for sponsor in site.sponsors %}
                    {% if sponsor.city contains page.title %}
                    <li class="col-xs-12 col-sm-6" style="height:350px;margin-top:20px;">
                      {% if sponsor.image %}
                      <a href="{{ sponsor.link }}" class="animsition-link"><img src="{{ sponsor.image | prepend:site.baseurl }}" style="max-height:90px;margin-top:8px;margin-bottom:8px;" /></a>
                      {% endif %}
                      {% if sponsor.desc %}
                      <p class="small">{{ sponsor.desc }}</p>
                      {% endif %}
                      <div class="row">
                        <div class="col-xs-12 col-sm-5 sponsor-social">
                        <div class="col-xs-12 sponsor-social">
                          {% if sponsor.facebook-url %}<a href="{{ facebook-url }}"><i class="fa fa-facebook-f fa-sm"></i></a>{% endif %}
                          {% if sponsor.instagram-url %}<a href="{{ instagram-url }}"><i class="fa fa-instagram fa-sm"></i></a>{% endif %}
                          {% if sponsor.youtube-url %}<a href="{{ page.youtube-url }}"><i class="fa fa-youtube-play fa-sm"></i></a>{% endif %}
                          {% if sponsor.vimeo-url %}<a href="{{ page.vimeo-url }}"><i class="fa fa-vimeo fa-sm"></i></a>{% endif %}
                        </div>
                      </div>
                    </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
  {% include early-bird.html %}
        </div>
      </div>
    </div>
      </div>
    <div class="row">
    {% include footer.html %}
  </div>
</div>
</body>

{% include js.html %}

</html>
