---
layout: default
---

<div class="container cards" style="width:1500px;">
  <div class="row page-content">
    <div class="col-xs-12 col-sm-6 card">
    <iframe src="https://player.vimeo.com/video/144815525?title=0&byline=0&portrait=0" height="360" frameborder="0"></iframe>
    </div>
    <div class="col-xs-12 col-sm-6 card">
    <iframe src="https://player.vimeo.com/video/144815525?title=0&byline=0&portrait=0" height="360" frameborder="0"></iframe>
    </div>
    <div class="col-xs-12 col-sm-6 card">
    <img src="http://placehold.it/400x600" height="400" />
    </div>
  </div>
</div>
