<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="ansimition">
  <div class="container-fluid">
    <div class="row">
      <div class="row-height">
      <div class="hidden-xs col-sm-2 col-sm-height" style="background-color: #cecece;">
        <div class="inside inside-full-height sidebar">
        {% include sidebar-speakers.html %}
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          {% include header.html %}
        </div>
        <div class="row">
          <div class="container-fluid page-content">
            <div class="row">
              <div class="col-xs-12">
                <ul>
                  {% for speaker in site.speakers %}
                  <li style="list-style:none;margin-bottom:80px;">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <img src="{{ speaker.headshot | prepend: site.baseurl }}" />
                    </div>
                    <div class="col-xs-10 col-sm-9">
                      <div class="row" style="position:relative;">
                        <div class="col-xs-12">
                        <h3 style="line-height:1;" class="reveal"><a href="{{ page.url }}">{{ speaker.title }}</a></h3>
                      </div>
                      <hr style="line-full" />
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <p class="small" style="margin-bottom:0px;"><span style="font-weight:600;">Events:</span><span style="font-weight:400;"> {{ speaker.city }}</span></p>
                        </div>
                        <div class="col-xs-12">
                        {% for seminar in site.seminars %}
                        {% if seminar.speaker == speaker.title %}
                          <p class="small"><span style="font-weight:600;">Seminar:</span><span style="font-weight:400;"> "{{ seminar.title }}"</span></p>
                        {% endif %}
                        {% endfor %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <p class="small">{{ speaker.bio }}</p>
                        </div>
                      </div>
                      <div class="row">
                      <div class="col-xs-12 col-sm-5 speaker-social">
                        <div class="col-xs-12 speaker-social">
                          {% if speaker.facebook-url %}<a href="{{ facebook-url }}"><i class="fa fa-facebook-f fa-sm"></i></a>{% endif %}
                          {% if speaker.instagram-url %}<a href="{{ instagram-url }}"><i class="fa fa-instagram fa-sm"></i></a>{% endif %}
                          {% if speaker.youtube-url %}<a href="{{ page.youtube-url }}"><i class="fa fa-youtube-play fa-sm"></i></a>{% endif %}
                          {% if speaker.vimeo-url %}<a href="{{ page.vimeo-url }}"><i class="fa fa-vimeo fa-sm"></i></a>{% endif %}
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </li>
                {% endfor %}

              </ul>
              </div>
            </div>
          </div>
          <div class="container-fluid" style="margin-left:-10px; margin-right:-10px;">
            {% include newsletter-signup.html %}
          </div>
        </div>
      </div>
    </div>
      </div>
    <div class="row">
    {% include footer.html %}
  </div>
</div>
</body>

{% include js.html %}

</html>
