---
layout: default
---

<div class="container-fluid page-content">
  <div class="row" style="margin-bottom:-200px;">
    <div class="col-xs-12">
      <img src="{{ page.featured-image }}" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <img src="{{ page.headshot }}" />
    </div>
    <div class="col-xs-10 col-sm-8">
      <h1><a href="{{ page.url }}" style="text-transform: uppercase;">{{ page.title }}</a></h1>
      <p>{{ page.bio }}</p>
      <div class="row speaker-social">
        <div class="col-xs-6">
          <div class="row">
              {% if page.facebook-url %}<a href="{{ facebook-url }}">f</a>{% endif %}
              {% if page.instagram-url %}<a href="{{ instagram-url }}">i</a>{% endif %}
              {% if page.youtube-url %}<a href="{{ page.youtube-url }}">y</a>{% endif %}
              {% if page.vimeo-url %}<a href="{{ page.vimeo-url }}">v</a>{% endif %}
              {% if page.linkedin-url %}<a href="{{ page.linkedin-url }}">l</a>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-sm-offset-2">
        {% for seminar in site.seminars %}
        {% if seminar.speaker == page.title %}
        <h3>"{{ seminar.title }}"</h3>
        <p>{{ seminar.desc }}</p>
        {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
